.error {
  color: red;
}

.loginPage {
  text-align: center;
  background: #efefeff7;
  border-radius: 50px;
  margin-top: 70mm;
  height: 130mm;
  margin-left: 100mm;
  width: 300mm;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  /* text-align: center; */
}

.container h1 {
  font: bold italic 2em Georgia, Times, "Times New Roman", serif;
  font-size: 120px;
  mix-blend-mode: difference;
  color: #566056;
  margin-bottom: -5mm;
}

.container h2 {
  color: #877d85;
  font: bold italic 2.5em Georgia, Times, "Times New Roman", serif;
}

.container button {
  height: 60px;
  width: 300px;
  border-radius: 50px;
  font: bold italic 2em Georgia, Times, "Times New Roman", serif;
  background-color: #A99FA9;
  border-color: #A99FA9;
  color: white;
}

.container button:hover {
  cursor: pointer;
  color: white;
  background-color: #bbb3bb;
}

.container a {
  font: italic 1.6em Georgia, Times, "Times New Roman", serif;
}

.form input {
  width: 370px;
  height: 30px;
}

label {
  display: inline-flex;
  margin-top: 20px;
  font: 2em Georgia, Times, "Times New Roman", serif;
  color: #676363;
}

#fixed {
  height: 100%;
  /* margin-top: 17mm;
  margin-left: -6mm; */
}

#remaining {
  flex-grow: 1;
  height: 57mm;
}