.businesspage {
    display: flex;
}

h1.businesspagetitle {
    position: fixed;
    margin-left: 237mm;
    font: bold italic 11em Georgia, Times, "Times New Roman", serif;
    color: #1a191847;
    margin-top: 15mm;
}

h2.businesspagecaption {
    position: fixed;
    margin-left: 240mm;
    font: bold italic 3em Georgia, Times, "Times New Roman", serif;
    color: #1a191847;
    margin-top: 60mm;
}