.navBar {
  background: rgb(231 231 231);
  padding: 4.2mm;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row;
}

.navBarButtons {
  position: absolute;
  margin-right: 420mm;
  margin-top: 5mm;
}

.navBar button {
  color: #566056;
  font-size: 1.6rem;
  margin-left: 5mm;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: transparent;
  max-width: 100%;
  background-color: transparent;
} 

.navBar button:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

.navBar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #566056;
  text-decoration: none;
}

.navBar li a {
  color: #566056;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 5mm;
  display: flex;
}

.navBar li a:hover {
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.713);
}



/* .navBar button:hover {
  cursor: pointer;
} */

