.navBar {
  background: rgba(255, 254, 254, 0.933);
  margin-bottom: 2rem;
}

.navBar button {
  color: #393e39;
  font-size: 1.5rem
} 

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #566056;
}

li {
  font-size: 1.5rem;
  padding: 5mm;
}



/* .navBar button:hover {
  cursor: pointer;
} */

