.musicpage {
    display: flex;
}

h1.musicpagetitle {
    position: fixed;
    margin-left: 298mm;
    font: bold italic 11em Georgia, Times, "Times New Roman", serif;
    color: #1a191847;
    margin-top: -12mm;
}

h2.musicpagecaption {
    position: fixed;
    margin-left: 260mm;
    font: bold italic 3em Georgia, Times, "Times New Roman", serif;
    color: #1a191847;
    margin-top: 30mm;
}