body {
    background-image: url(../../../public/images/giulia-may-cNtMy74-mnI-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 80px;
}

h2 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 40px; 
}