.DarlingDreams {
    background-image: url(../../../public/images/giulia-may-cNtMy74-mnI-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.DarlingDreams h1 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 80px;
    color: #403a40ab;
    margin-top: 50mm;
    margin-left: 10mm;
}

.DarlingDreams h2 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 40px; 
    margin-left: 10mm;
    max-width: 200mm;
    color: #403a40ab;
}

#fixed {
    height: 100%;
    margin-top: 17mm;
    margin-left: -6mm;
}

#remaining1 {
    flex-grow: 1;
    height: 149mm;
}