

div .business {
    background-color: #e7e6e6a8;
    max-width: 140mm;
    border-radius: 50px;
    max-height: 4000mm;
    margin: 15mm;
    padding: 10mm;
    margin-top: 30mm;
}

/* h1.foodpage {
    font: bold 2em arial;
    color: #423d2e;
    margin-top: 5mm;
} */

.business img {
    border-radius: 20px;
    size: 500mm;
}

.business form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button.specificbusiness {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    font: bold italic 1.2em Georgia, Times, "Times New Roman", serif;
    margin-top: 5mm;
    background-color: #adacaa33;
    border-color: #2c2c2c68;
    color: #000000d9;
}

.specificbusiness button:hover {
    cursor: pointer;
    color: white;
    background-color: #897f67;
  }

  h5 {
    color: #ac1d1d;
    margin-top: 3mm;
    font: bold 1.2em Georgia, Times, "Times New Roman", serif;
  }