

div .business {
    background-color: #ded9d9a8;
    max-width: 140mm;
    border-radius: 50px;
    max-height: 4000mm;
    margin: 15mm;
    padding: 10mm;
}

.business h1 {
    font: bold 2em arial;
    color: #586057;
}

.business img {
    border-radius: 20px;
    size: 500mm;
}

.business form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.business button {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    font: bold italic 1.2em Georgia, Times, "Times New Roman", serif;
    margin-top: 5mm;
    background-color: #a3a1a1;
    border-color: #A99FA9;
    color: white;
}